body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 3em; /* Adjust the font size as needed */
  color: white; /* Change the text color to white */
  background-color: black; /* Set the background color to black */
}

.slide {
  text-align: center;
  padding: 50px;
}